<div class=" row  justify-content-center align-items-center">


    <div class="col-md-6 height  d-flex flex-column gap-5 justify-content-center align-items-center">
        <h2>Create User</h2>
        <form class="d-flex flex-column gap-5 w-50" method="post" accept="/add-user">
            <div class="form-group  ">

                <input type="text" name="userId" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">

                <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                    placeholder="Password">
            </div>

            <input href="/add-user" type="submit" class="btn btn-primary" />
        </form>

    </div>
    <div class="col-md-6 height  d-flex flex-column gap-4 justify-content-center align-items-center">
        <h2>View Users</h2>
        <div class="d-flex flex-column gap-4 w-50">
            {{#each user}}

            <div class="form-group position-relative p-5 rounded" style="background-color: rgba(205, 205, 205, 1);">

                <input type="email" class="form-control bg-white" disabled value="{{this.userId}}"="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter email">
                {{!-- <h1 class="form-control">{{this.userId}}</h1> --}}
            </div>

            {{/each}}

            <a href="/user-details" class="btn btn-primary w-25 align-self-end"> view</a>
        </div>

    </div>
</div>



<style>
    .height {
        height: 100vh;
    }

    @media screen and (max-width:770px) {
        .row{
            display: flex;
            flex-direction: column;
            gap: 10rem
        }
        .height {
           overflow: visible    ;

           
            height: 50vh;
        }
    }
</style>