<div class="p-5 d-flex flex-column gap-5">
    <div>
        <button class="btn border-primary btn-white text-primary ">&lt Back</button>
    </div>

    <div>
        <table class="table table-bordered">
            <thead class=" " style="background-color: rgba(205, 205, 205, 1);">
                <tr>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5644</td>
                    <td>Nihal</td>
                    <td>Photo</td>
                    <td class="d-flex flex-row justify-content-center gap-2">

                        <button class="btn btn-primary">Done</button>
                        <button class="btn border-primary btn-white text-primary ">Delete</button>


                    </td>
                </tr>
                <tr>
                    <td>5655</td>
                    <td>Hafiz</td>
                    <td>Photo</td>
                    <td class="d-flex flex-row justify-content-center gap-2">

                        <button class="btn btn-primary">Done</button>
                        <button class="btn border-primary btn-white text-primary ">Delete</button>


                    </td>
                </tr>
                <tr>
                    <td>User Id</td>
                    <td>Name</td>
                    <td>Photo</td>
                    <td class="d-flex flex-row justify-content-center gap-2">

                        <button class="btn btn-primary">Done</button>
                        <button class="btn border-primary btn-white text-primary ">Delete</button>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>