<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn border-primary align-self-end btn-white text-primary"
            data-bs-dismiss="offcanvas" aria-label="Close">Back</button>
    </div>
    <div class="offcanvas-body ">
        <div class="d-flex flex-column p-5 gap-4 w-100">
            <div class="form-group  ">
                <label for="">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="">Photo</label>
                <input type="file" id="" style="display: none;">

                <label for="" class="w-100">
                    <img id="output" width="200" />

                </label>
            </div>

            <label for="" class="align-self-center  fs-5 text-danger">Not Accepted By Admin</label>

        </div>
    </div>
</div>

<div class="p-2 d-flex flex-column">
    <button class="btn border-primary align-self-end btn-white text-primary " type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">View</button>
    <div class="  cropper-bg d-flex flex-column justify-content-center align-items-center " style="height: 100vh;">
        <div class=" col-6 d-flex flex-column gap-4 justify-content-center align-items-center ">
            <form class="d-flex flex-column gap-4 w-50" method="post" enctype="multipart/form-data">
                <div class="form-group  ">
                    <label for="">Name</label>
                    {{#if userDeatils}}
                    <input type="email" value="" name="name" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">

                    {{else}}
                    <input type="email" value="{{this.name}}" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">


                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="">Photo</label>



                    <input type="file" id="image" style="display: none;" accept="image/*" onchange="loadFile(event)">
                    <label for="image" class="w-100">
                        <div class="border-light "
                            style="height: 280px;border-style: dotted;background-color: rgba(205, 205, 205, 1);"></div>

                    </label>
                </div>


                <a class="btn btn-primary " href="/add-details/{{this._id}}" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Upload</a>

            </form>


        </div>
    </div>




</div>
<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

</script>

{{!--
<script src="image.js"></script> --}}