<div class="p-2 d-flex flex-column">
    <button class="btn border-primary align-self-end btn-white text-primary ">View</button>
<div class="  cropper-bg d-flex flex-column justify-content-center align-items-center "
    style="height: 100vh;">
    <div class=" col-6 d-flex flex-column gap-4 justify-content-center align-items-center ">
        <form class="d-flex flex-column gap-4 w-50">
            <div class="form-group  ">
 <label for="">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    >
            </div>
            <div class="form-group">
                <label for="">Photo</label>
                <input type="file" id="image" style="display: none;">

                <label for="image" class="w-100">
                    <div class="border-light "
                        style="height: 200px;border-style: dotted;background-color: rgba(205, 205, 205, 1);"></div>

                </label>
            </div>

            <a href="/add-user" class="btn btn-primary"> Upload</a>
        </form>

    </div>
</div>
</div>