<div class=" row">

    <div class="col-md-6 col-sm-12  " style="background-color:rgba(5, 2, 89, 1) ;">
        <div class=" h-100 d-flex align-items-center  justify-content-center">
            <div class="z-1 round-1 position-absolute"></div>
            <div class="z-3 round-3 position-absolute"></div>
            <div class="z-2 round-2 position-absolute"></div>
            <div class="z-0 d-flex align-items-center position-fixed  p-5 w-25 justify-content-center bg-white rounded  ">


                <div>
                    <h3 style="color:rgba(5, 2, 89, 1) ;">LOGO</h3>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 d-flex flex-column gap-4 justify-content-center align-items-center">
        <h2>User Login</h2>
        <form class="d-flex flex-column gap-4 w-50" accept="/users/login" method="post">
            <div class="form-group  ">

                <input type="text" name="userId" required class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="User Id">
            </div>
            <div class="form-group">

                <input type="password" required name="password" class="form-control" id="exampleInputPassword1"
                    placeholder="Password">
            </div>

            <input type="submit" class="btn btn-primary" value="Login" />
        </form>

    </div>
</div>

<style>


.col-sm-12 {
    height: 100vh;
}
.login{
    width: 50%;
    padding: 5rem;
}
   
.round-1 {
       
        
        padding: 8rem;
        border-radius: 9999px;
        border: transparent solid 6px;
        opacity: .4;
        background: linear-gradient(rgba(5, 2, 89, 1) 0 0) padding-box,
            linear-gradient(to right, rgba(5, 2, 89, 1), #8c41fb) border-box;
        border-color: transparent;
    }

    .round-2 {
      
        padding: 11rem;
        border-radius: 9999px;
        border: transparent solid 6px;
        opacity: .4;
        background: linear-gradient(rgba(5, 2, 89, 1) 0 0) padding-box,
            linear-gradient(to right, rgba(5, 2, 89, 1), #8c41fb) border-box;
        border-color: transparent;
    }

    .round-3 {

      
        padding: 15rem;
        border-radius: 9999px;
        border: transparent solid 6px;
        opacity: .4;
        background: linear-gradient(rgba(5, 2, 89, 1) 0 0) padding-box,
            linear-gradient(to right, rgba(5, 2, 89, 1), #8c41fb) border-box;
        border-color: transparent;


    }
    
      @media screen and (max-width: 770px) {
      .col-sm-12 {
       height: 50vh;
      }
      .round-1{
        padding: 6rem;
      }
      .round-2{
        padding: 8rem;
      }
      .round-3{
        padding: 10rem;
      }
      .w{
        padding: 2px;
      }
      .login{
        padding: 2rem;
      }
    }
    
</style>